
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: beige;
  }
  .completed {
    text-decoration: line-through;
    color: green;
  }

  #completedButton{
    background-color: bisque;
  }

  .content{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    align-items: center;
  }
  .text{
    display: flex;
    flex-direction: column;
  }

